.DS_Store
.env
.env.*

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
.vscode/

data/
notebooks/
*.ipynb
backlog.txt
src/pipeline_v01.py
src/pipeline_v02.py
src/question_searcher_v01.py

*.xlsx
terminal.txt
вывод_терминала/

.cache/
cache/
models/
model_cache/
artifacts/
outputs/
*.faiss
*.index
